.social {
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 208px;
}

.pricing-price h2 {
    font-size: 26px!important;
}

.fotos {
    width: 75px;
    height: 75px;
}

.botones-menu {
    width: 145px;
    margin-left: 0px!important;
}

.sombra {
    text-shadow: 5px 5px 5px black;
}