.social {
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 208px;
}

.pricing-price h2 {
    font-size: 26px!important;
}

.fotos {
    width: 75px;
    height: 75px;
}

.botones-menu {
    width: 145px;
    margin-left: 0px!important;
}

.sombra {
    text-shadow: 5px 5px 5px black;
}

.course-item{
    height: 250px;
    padding: 65px 25px 40px;
}

.course-item i {
    font-size: 70px;
}

.heading.servicio{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;

}

.excerpt.servicio{
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 12px;
    
}

.card-header.servicio{
    background-color: #4caf50;
}

@media (max-width: 1169px) and (min-width: 992px){
    .course-item{
        height: auto;
    }
}

.servicios {
    height: 256px;
}

@media (max-width: 767px){
    .servicios {
        height: auto;
    }
}

/* Mias */

.fd-i{
    flex-direction: initial;
}
